@import "modern-normalize";
@import "reset.css";

/********************************************/
/* DESIGN SYSTEM */
/********************************************/
:root {
  font-size: 62.5%; /* Start with 10px as default relative font size assuming default browser font size of 16px*/

  /*****  COLORS (primary, secondary, accents and greys) *****/
  --clr-white: #fff;
  --clr-primary-800: #032303;
  --clr-primary-700: #1b7e1b;
  --clr-primary-600: #229822;
  --clr-primary-500: #32cd32;
  --clr-primary-400: #53d34f;
  --clr-primary-300: #6cd867;
  --clr-primary-200: #81de7c;
  --clr-primary-100: hsl(116, 73%, 80%);
  --clr-primary-800: #0d4e0d;
  --clr-gray-900: hsl(120, 4%, 11%);
  --clr-gray-700: hsl(120, 6%, 40%);
  --clr-gray-600: hsl(120, 6%, 65%);
  --clr-gray-500: hsl(120, 6%, 80%);
  --clr-gray-400: hsl(120, 8%, 85%);
  --clr-gray-300: hsl(120, 8%, 90%);
  --clr-gray-200: hsl(120, 8%, 95%);
  --clr-gray-150: hsl(0, 4%, 97%);
  --clr-gray-100: hsl(0, 0%, 99%);
  /* --clr-secondary: */
  /* Add semantic colors later! */
  --clr-red: red;

  /***** TYPOGRAPHY *****/
  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* - Font sizes (px) */
  --fs-100: 1rem; /* 10px */
  --fs-200: 1.2rem; /* 12px */
  --fs-300: 1.4rem; /* 14px */
  --fs-400: 1.6rem; /* 16px */
  --fs-500: 1.8rem; /* 18px */
  --fs-600: 2rem; /* 20px */
  --fs-700: 2.4rem; /* 24px */
  --fs-800: 3rem; /* 30px */
  --fs-900: 3.6rem; /* 36px */
  --fs-1000: 4.4rem; /* 44px */
  --fs-1100: 5.2rem; /* 52px */
  --fs-1200: 6.2rem; /* 62px */
  --fs-1300: 7.4rem; /* 74px */
  --fs-1400: 8.6rem; /* 86px */
  --fs-1500: 9.8rem; /* 98px */

  /* semantic font names */
  --fs-caption: var(--fs-200);
  --fs-text-prim: var(--fs-400);
  --fs-icon-md: var(--fs-500);
  --fs-icon-sm: var(--fs-300);
  --fs-text-sec: var(--fs-300);
  --fs-heading-prim: var(--fs-800);
  --fs-heading-sec: var(--fs-600);
  --fs-heading-tert: var(--fs-500);

  /* letter spacing */
  /* line heights */

  /***** WHITESPACE *****/
  /* spacing system */
  --space-25: 0.2rem;
  --space-50: 0.4rem;
  --space-100: 0.8rem;
  --space-140: 1.2rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-600: 4.8rem;
  --space-800: 6.4rem;
  --space-1000: 8rem;
  --space-1200: 9.6rem;
  --space-1600: 12.8rem;

  /***** SHADOWS *****/

  /***** BORDER RADIUS *****/
}

/********************************************/
/* SPECIFIC STYLES */
/********************************************/
body {
  font-size: var(--fs-text-prim);
  color: var(--clr-gray-900);
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--clr-gray-100);
}

ion-icon {
  font-size: var(--fs-icon-md);
}

/* PAGE-LEVEL LAYOUT */
.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

/* NAVIGATION SECTION */
.nav {
  padding: var(--space-400) var(--space-200) 0;
  background-color: var(--clr-gray-200);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.user-details {
  display: flex;
  align-items: center;
  gap: var(--space-100);
  font-size: var(--fs-text-sec);
  color: var(--clr-gray-700);
}

.user-details::before {
  content: "S";
  display: block;
  font-size: var(--fs-caption);
  background-color: var(--clr-primary-800);
  color: var(--clr-white);
  display: grid;
  place-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.nav-list {
  gap: var(--space-140);
}

.item:not(:has(.btn--create)):hover {
  width: 100%;
  text-align: left;
  background-color: var(--clr-primary-100);
}

.btn--projects {
  margin-bottom: var(--space-100);
  width: 100%;
}

.btn--projects span {
  margin-right: auto;
}

.btn--open .icon--chevron {
  animation: chevron-spin-open 0.3s ease-out forwards;
}

.btn--closed .icon--chevron {
  animation: chevron-spin-close 0.3s ease-out forwards;
}

@keyframes chevron-spin-open {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes chevron-spin-close {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.project-list-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.2s ease-out;
}

.btn--open + .project-list-container {
  grid-template-rows: 1fr;
}

.project-list {
  font-size: var(--fs-text-sec);
  margin-left: var(--space-100);
  min-height: 0;
  gap: var(--space-50);
}

.project-item {
  display: flex;
  align-items: center;
  padding: var(--space-50) var(--space-140);
  gap: var(--space-140);
}

.project-details-dropdown {
  flex-shrink: 0;
  margin-left: auto;
  position: relative;
}

.project-actions-menu {
  position: absolute;
  width: max-content;
  display: none;
  flex-direction: column;
  border-radius: 4px;
  background-color: var(--clr-gray-300);
  z-index: 1;
}

.project-details-dropdown:has(.btn--project-details--open) .project-actions-menu {
  display: flex;
}

.btn.btn--project-action {
  display: block;
  color: var(--clr-gray-900);
  font-size: var(--fs-caption);
  padding: var(--space-100) var(--space-200);
  width: 100%;
}

.btn--project-action:hover {
  background-color: var(--clr-gray-200);
}

.btn.btn--project-details {
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: var(--space-25);
  border-radius: 50%;
}

.btn--project-details ion-icon {
  display: block;
  font-size: var(--fs-icon-sm);
}

.project-item:hover .btn--project-details {
  visibility: visible;
  opacity: 1;
}

.project-item .btn--project-details:hover {
  background-color: var(--clr-gray-200);
}

/* MAIN VIEW SECTION */

.project {
  width: min(90%, 80rem);
  margin: 0 auto;
  padding: var(--space-800) var(--space-400) var(--space-200);
}

.project__title {
  margin-bottom: var(--space-200);
}

.project__divider {
  height: 2px;
  background-color: var(--clr-gray-200);
  margin-bottom: var(--space-800);
}

.project__task-list {
  display: flex;
  flex-direction: column;
}

.project__task-title {
  font-size: var(--fs-heading-sec);
}

.task {
  display: flex;
  align-items: center;
  gap: var(--space-200);
  padding: var(--space-200) var(--space-400) var(--space-200) var(--space-200);
  border: 1px solid transparent;
  transition: background-color 0.5s ease-out;
}

.task:hover {
  cursor: pointer;
  background-color: var(--clr-white);
  border-radius: 9px;
  border: 1px solid var(--clr-gray-200);
  box-shadow: 0 0.6rem 0.5rem -0.7rem hsla(0, 0%, 0%, 0.088);
  color: var(--clr-primary-800);
}

.task-container {
  margin-right: auto;
}

.task-details {
  font-size: var(--fs-text-sec);
  font-weight: var(--fw-regular);
  color: var(--clr-gray-700);
  display: flex;
  gap: var(--space-100);
}

.task-date {
  flex-shrink: 0;
}

.task-priority {
  flex-shrink: 0;
}

.task-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-50);
}

.task-tag {
  padding: var(--space-25) var(--space-50);
  flex-shrink: 0;
  background-color: var(--clr-gray-400);
  color: var(--clr-primary-600);
  border-radius: 8px;
}

.task__title {
  font-size: var(--fs-text-prim);
  font-weight: var(--fw-semi-bold);
}

.task-details-dropdown {
  flex-shrink: 0;
  position: relative;
}

.btn.btn--task-details {
  padding: var(--space-50);
  visibility: hidden;
  opacity: 0;
  border-radius: 50%;
}

.btn--task-details ion-icon {
  display: block !important;
}

.task:hover .btn--task-details {
  visibility: visible;
  opacity: 1;
}

.task:hover .btn--task-details:hover {
  background-color: var(--clr-gray-200);
}

.task:not(:has(~ .task)) {
  margin-bottom: var(--space-200) !important;
}

/*  styling checkbox  */
.task label {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
}

.task__checkbox {
  flex-shrink: 0;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid var(--clr-gray-400);
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}

.task__checkbox:checked {
  background-color: var(--clr-primary-600);
}

.icon-checkmark {
  visibility: hidden;
  position: absolute;
  color: var(--clr-gray-100);
  left: 0;
  width: 1.4rem;
  height: 1.4rem;
  top: 50%;
  left: 0.1rem;
  transform: translate(0, -40%);
  z-index: 1;
  transition: all 0.3s;
  cursor: pointer;
}

.task__checkbox:checked + .icon-checkmark {
  visibility: visible;
}

/* State where label is hovered while checkbox is already checked */
label:hover:not(:has(.task__checkbox:checked)) .task__checkbox {
  background-color: var(--clr-gray-300);
}

label:hover:not(:has(.task__checkbox:checked)) .icon-checkmark {
  visibility: visible;
}

.project__divider--add-task {
  margin-bottom: var(--space-100);
}

/* Task actions menu */
.task-actions-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: left;
  border-radius: 4px;
  background-color: var(--clr-gray-300);
  width: max-content;
  z-index: 1;
}

.task:has(.btn--task-details--open) .task-actions-menu {
  display: flex;
}

.btn.btn--task-action {
  display: block;
  color: var(--clr-gray-900);
  font-size: var(--fs-text-sec);
  padding: var(--space-100) var(--space-200);
  width: 100%;
}

.btn--task-action:hover {
  background-color: var(--clr-gray-200);
}

/* styling tasks completed */
.add-task-container {
  margin-bottom: var(--space-600);
}

/* Dialog styling */
dialog {
  background-color: var(--clr-white);
  padding: var(--space-400) var(--space-600);
  border: none;
  border-radius: 12px;
  width: 40%;
}

dialog::backdrop {
  backdrop-filter: blur(1.5px);
}

.icon--close-btn-form {
  font-size: var(--fs-heading-prim);
  transition: color 0.3s;
}

.icon--close-btn-form:hover {
  color: var(--clr-red);
}

form header {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-300);
}

.form-inputs-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  margin-bottom: var(--space-400);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-25);
}

form label {
  font-weight: var(--fw-semi-bold);
}

form :is(select, input, textarea) {
  border: 1px solid var(--clr-gray-900);
  border-radius: 4px;
}

form :is(select:focus-visible, input:focus-visible, textarea:focus-visible) {
  border: 1px solid transparent;
  outline: 3px solid var(--clr-primary-300);
}

form :is(input, select) {
  max-width: 20rem;
  padding: var(--space-25) var(--space-50);
  appearance: none;
}

form textarea {
  padding: var(--space-50) var(--space-50);
  line-height: 1.3;
  resize: none;
}

header h1 {
  margin-right: auto;
  margin-bottom: 0;
}

header button {
  display: flex;
  align-items: center;
}

form h1 {
  font-size: var(--fs-heading-sec);
}

/********************************************/
/* REUSABLE COMPONENTS */
/********************************************/
.btn {
  color: var(--clr-gray-900);
  background: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  padding: var(--space-50) var(--space-140);
  transition: all 0.2s ease-out;
}

.btn--create {
  color: var(--clr-primary-600);
  display: flex;
  align-items: center;
  gap: var(--space-100);
}

.btn--create:hover {
  color: var(--clr-primary-400);
}

.btn--create-project {
  gap: var(--space-25);
}

.submit-container {
  text-align: center;
}

.btn--form-submit {
  width: 100%;
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  background-color: var(--clr-primary-600);
  border-radius: 8px;
  padding: var(--space-100) var(--space-400);
  transition: background-color 0.2s;
}

.btn--close-form {
  padding: 0;
}

.btn--form-submit:hover {
  background-color: var(--clr-primary-500);
}

.btn--projects {
  display: flex;
  align-items: center;
}

.btn--project-item {
  border-left: 3px solid inherit;
  padding: 0;
  margin-right: auto;
}

.list {
  list-style: none;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  text-align: left;
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
}

.item--active {
  background-color: var(--clr-gray-300);
}

/********************************************/
/* UTILITY / HELPER CLASSES */
/********************************************/
.heading-primary {
  font-size: var(--fs-heading-prim);
  font-weight: var(--fw-bold);
  letter-spacing: -0.5px;
}
